/* FONT FACE DEFINITION */


@font-face {
	font-family: "GothamRounded Book";
	src: url("../fonts/GothamRounded-Book.otf") format("truetype");
	
}

@font-face {
	font-family: "GothamRounded Bold";
	src: url("../fonts/GothamRounded-Bold.otf") format("truetype");
	
}

@font-face {
	font-family: "GothamRounded Regular";
	src: url("../fonts/GothamRounded-Medium.otf") format("truetype");
	
}

@font-face {
	font-family: "GothamRounded Light";
	src: url("../fonts/GothamRounded-Light.otf") format("truetype");

}


.heading-slider-bold {
	font-family: Josefin Bold;
	font-size: 3.76em;
}
