{% extends "main.html" %}
{% block main %}
    {% load staticfiles %}
    <!-- Page Heading -->
	<section class="bg-header">
		<div class="container">
			<div class="row">
                <div class="col-xs-8 col-xs-offset-2 text-center">
					<h1>Hasil Akhir</h1>
                </div>
            </div>
		</div>
    </section>
    <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'input-kri' %}">Input Kriteria</a>
                            </li>
                            <li>
                                Hasil Konsistensi Input
                            </li>
                            <li>
								Input Nama Produk
                            </li>
                            <li>
                                Input Detail Produk
                            </li>
                            <li class="active">
								Hasil Akhir
                            </li>
                        </ol>
                    </div>
                </div>
			<!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
			<div class="panel">
                        <div class="panel-heading">
                            <h3 style="margin-top: 0px; margin-bottom: 0px;">Kriteria</h3>
                        </div>
        <div class="panel-body">
		<div class="col-lg-6 table-responsive">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">Harga</th>
                    <th style="text-align: center;">Berat Bersih</th>
                    <th style="text-align: center;">PAO</th>
                    <th style="text-align: center;">Daya Tahan Produk</th>
                    <th style="text-align: center;">Cruelty-Free</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>Harga</th>
                    <td class="danger"> 1</td>
                    <td class="success"> {{ kri_a|floatformat:2 }}</td>
                    <td class="success"> {{ kri_b|floatformat:2 }}</td>
                    <td class="success"> {{ kri_c|floatformat:2 }}</td>
                    <td class="success"> {{ kri_d|floatformat:2 }}</td>                    
                </tr>
                <tr style="text-align: center;">
                    <th>Berat Bersih</th>
                    <td class="warning"> {{ kri_k|floatformat:2 }}</td>
                    <td class="danger"> 1</td>
                    <td class="success"> {{ kri_e|floatformat:2 }}</td>
                    <td class="success"> {{ kri_f|floatformat:2 }}</td>
                    <td class="success"> {{ kri_g|floatformat:2 }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>PAO</th>
                    <td class="warning"> {{ kri_l|floatformat:2}}</td>
                    <td class="warning"> {{ kri_m|floatformat:2 }}</td>
                    <td class="danger"> 1</td>
                    <td class="success"> {{ kri_h|floatformat:2 }}</td>
                    <td class="success"> {{ kri_i|floatformat:2 }}</td>
                </tr>
                <tr style="text-align: center;">
					<th>Daya Tahan Produk</th>
					<td class="warning"> {{ kri_n|floatformat:2 }}</td>
					<td class="warning"> {{ kri_o|floatformat:2 }}</td>
					<td class="warning"> {{ kri_p|floatformat:2 }}</td>
					<td class="danger"> 1</td>
					<td class="success"> {{ kri_j |floatformat:2 }}</td>
                </tr>
                <tr style="text-align: center;">
					<th>Cruelty-Free</th>
					<td class="warning"> {{ kri_q|floatformat:2 }}</td>
					<td class="warning"> {{ kri_r|floatformat:2 }}</td>
					<td class="warning"> {{ kri_s|floatformat:2 }}</td>
					<td class="warning"> {{ kri_t|floatformat:2 }}</td>
					<td class="danger"> 1</td>
                </tr>
                </tbody>
            </table>
        </div> <!-- table responsive -->
			`<div class="col-lg-6"> <!--nested row -->
				<p><strong>Keteragan :</strong></p>
				<p>Nilai perbandingan kriteria yang sebelumnya dimasukan akan masuk menjadi elemen yang berwarna hijau dalam bentuk matriks berukuran 5x5</p>
				<p>Sedangkan elemen matriks berwarna merah merupakan nilai perbandingan antara kriteria yang sama</p>
				<p>Lalu, elemen matriks yang berwarna kuning merupakan nilai perbandingan kriteria yang menjadi bilangan pembilang pada pecahan</p>
			 </div>
        </div> <!-- panel body -->
        </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
	</div> <!-- row -->
	

        <div class="col-lg-12">
			<div class="panel" style="margin-bottom: 20px;">
                        <div class="panel-heading">
                            <h3 style="margin-top: 0px; margin-bottom: 0px;">Bobot Kriteria</h3>
                        </div>
        <div class="col-lg-6 table-responsive">
            <table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
                <tbody>
                <tr>
                    <th><strong>Bobot Harga</strong> :</th>
                    <td style="text-align: center;"><h5> {{ bobot_harga }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Berat Bersih</strong> :</th>
                    <td style="text-align: center;"><h5> {{ bobot_isi }}</h5></td>
                    
                </tr>
                <tr>
                    <th><strong>Bobot PAO</strong> :</th>
                    <td style="text-align: center;"><h5> {{ bobot_pao }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Daya Tahan Produk</strong> :</th>
                    <td style="text-align: center;"><h5> {{ bobot_time }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Cruelty-Free</strong> :</th>
                    <td style="text-align: center;"><h5> {{ bobot_cruelty_free }}</h5></td>

                </tr>
                </tbody>
            </table>
        </div> <!-- col-lg-6 -->
        <div class="col-lg-6">   
            <p><strong>Keterangan :</strong></p>
            <p>Tabel Bobot Kriteria ini merupakan hasil perhitungan dari Tabel Kriteria di atas. Bobot dengan nilai tertinggi merupakan kriteria dengan level tertinggi.</p>
            <p>Berikut ini merupakan hasil perhitungan konsistensi nilai input perbandingan kriteria</p>
            <p><strong>Konsistensi = {{ cons }} = {{ cons_pre }} %</strong></p>
            
        </div> <!-- col-lg-6 -->
		</div> <!-- panel bobot kriteria -->
        </div> <!-- col-lg-12 -->


	<div class="col-lg-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
                <h3 style="margin-top: 0px; margin-bottom: 0px;">Harga</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered">
						<thead>
						<tr style="text-align: right;">
							<th></th>
							<th style="text-align: center;">{{nama_a}}</th>
							<th style="text-align: center;">{{nama_b}}</th>
							<th style="text-align: center;">{{nama_c}}</th>
						</tr>
						</thead>
						<tbody>
						<tr style="text-align: center;">
							<th>{{nama_a}}</th>
							<td class="danger"> {{ harga_a }}/{{ harga_a }}</td>
							<td class="success"> {{ harga_b }}/{{ harga_a }}</td>
							<td class="success"> {{ harga_c }}/{{ harga_a }}</td>
						</tr>
						<tr style="text-align: center;">
							<th>{{nama_b}}</th>
							<td class="warning"> {{ harga_a }}/{{ harga_b }}</td>
							<td class="danger"> {{ harga_b }}/{{ harga_b }}</td>
							<td class="success"> {{ harga_c }}/{{ harga_b }}</td>
						</tr>
						<tr style="text-align: center;">
							<th>{{nama_c}}</th>
							<td class="warning"> {{ harga_a }}/{{ harga_c }}</td>
							<td class="warning"> {{ harga_b }}/{{ harga_c }}</td>
							<td class="danger"> {{ harga_c }}/{{ harga_c }}</td>
						</tr>
						</tbody>
						</table>
				</div>
				<div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
					<tbody>
					<tr>
						<th><strong>Bobot Harga {{nama_a}}</strong> :</th>
						<td style="text-align: center;"><h5> {{ bobot_harga_a }}</h5></td>
					</tr>
					<tr>
						<th><strong>Bobot Harga {{nama_b}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_harga_b }}</h5></td>               
					</tr>
					<tr>
						<th><strong>Bobot Harga {{nama_c}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_harga_c }}</h5></td>
					</tr>					
					</tbody>
					</table>
				</div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 style="margin-top: 0px; margin-bottom: 0px;">Berat Bersih</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">{{nama_a}}</th>
                    <th style="text-align: center;">{{nama_b}}</th>
                    <th style="text-align: center;">{{nama_c}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>{{nama_a}}</th>
                    <td class="danger"> {{ isi_a }}/{{ isi_a }}</td>
                    <td class="success"> {{ isi_b }}/{{ isi_a }}</td>
                    <td class="success"> {{ isi_c }}/{{ isi_a }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_b}}</th>
                    <td class="warning"> {{ isi_a }}/{{ isi_b }}</td>
                    <td class="danger"> {{ isi_b }}/{{ isi_b }}</td>
                    <td class="success"> {{ isi_c }}/{{ isi_b }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_c}}</th>
                    <td class="warning"> {{ isi_a }}/{{ isi_c }}</td>
                    <td class="warning"> {{ isi_b }}/{{ isi_c }}</td>
                    <td class="danger"> {{ isi_c }}/{{ isi_c }}</td>
                </tr>
                </tbody>
            </table>
		</div>
				<div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
					<tbody>
					<tr>
						<th><strong>Bobot Berat Bersih {{nama_a}}</strong> :</th>
						<td style="text-align: center;"><h5> {{ bobot_isi_a }}</h5></td>
					</tr>
					<tr>
						<th><strong>Bobot Berat Bersih {{nama_b}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_isi_b }}</h5></td>               
					</tr>
					<tr>
						<th><strong>Bobot Berat Bersih {{nama_c}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_isi_c }}</h5></td>
					</tr>					
					</tbody>
					</table>
				</div>
            </div>
        </div>
    </div>
                
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 style="margin-top: 0px; margin-bottom: 0px;">Period After Opening (PAO)</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">{{nama_a}}</th>
                    <th style="text-align: center;">{{nama_b}}</th>
                    <th style="text-align: center;">{{nama_c}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>{{nama_a}}</th>
                    <td class="danger"> {{ pao_a }}/{{ pao_a }}</td>
                    <td class="success"> {{ pao_b }}/{{ pao_a }}</td>
                    <td class="success"> {{ pao_c }}/{{ pao_a }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_b}}</th>
                    <td class="warning"> {{ pao_a }}/{{ pao_b }}</td>
                    <td class="danger"> {{ pao_b }}/{{ pao_b }}</td>
                    <td class="success"> {{ pao_c }}/{{ pao_b }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_c}}</th>
                    <td class="warning"> {{ pao_a }}/{{ pao_c }}</td>
                    <td class="warning"> {{ pao_b }}/{{ pao_c }}</td>
                    <td class="danger"> {{ pao_c }}/{{ pao_c }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
					<tbody>
					<tr>
						<th><strong>Bobot PAO {{nama_a}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_pao_a }}</h5></td>
					</tr>
					<tr>
						<th><strong>Bobot PAO {{nama_b}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_pao_b }}</h5></td>               
					</tr>
					<tr>
						<th><strong>Bobot PAO {{nama_c}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_pao_c }}</h5></td>
					</tr>					
					</tbody>
					</table>
		</div>
            </div>
        </div>
   </div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 style="margin-top: 0px; margin-bottom: 0px;">Daya Tahan Produk</h3>
				</div>
            <div class="panel-body">
                <div class="col-lg-6">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">{{nama_a}}</th>
                    <th style="text-align: center;">{{nama_b}}</th>
                    <th style="text-align: center;">{{nama_c}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>{{nama_a}}</th>
                    <td class="danger"> {{ time_a }}/{{ time_a }}</td>
                    <td class="success"> {{ time_b }}/{{ time_a }}</td>
                    <td class="success"> {{ time_c }}/{{ time_a }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_b}}</th>
                    <td class="warning"> {{ time_a }}/{{ time_b }}</td>
                    <td class="danger"> {{ time_b }}/{{ time_b }}</td>
                    <td class="success"> {{ time_c }}/{{ timeb }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_c}}</th>
                    <td class="warning"> {{ time_a }}/{{ time_c }}</td>
                    <td class="warning"> {{ time_b }}/{{ time_c }}</td>
                    <td class="danger"> {{ time_c }}/{{ time_c }}</td>
                </tr>
                </tbody>
            </table>
		</div>
		<div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
					<tbody>
					<tr>
						<th><strong>Bobot Daya Tahan Produk {{nama_a}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_time_a }}</h5></td>
					</tr>
					<tr>
						<th><strong>Bobot Daya Tahan Produk {{nama_b}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_time_b }}</h5></td>               
					</tr>
					<tr>
						<th><strong>Bobot Daya Tahan Produk {{nama_c}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_time_c }}</h5></td>
					</tr>					
					</tbody>
					</table>
		</div>
            </div>
        </div>
    </div>
	
	 <div class="col-lg-12">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 style="margin-top: 0px; margin-bottom: 0px;">Animal Cruelty-Free</h3>
             </div>
             <div class="panel-body">
                 <div class="col-lg-6">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">{{nama_a}}</th>
                    <th style="text-align: center;">{{nama_b}}</th>
                    <th style="text-align: center;">{{nama_c}}</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>{{nama_a}}</th>
                    <td class="danger"> {{ cruelty_free_a }}/{{ cruelty_free_a }}</td>
                    <td class="success"> {{ cruelty_free_b }}/{{ cruelty_free_a }}</td>
                    <td class="success"> {{ cruelty_free_c }}/{{ cruelty_free_a }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_b}}</th>
                    <td class="warning"> {{ cruelty_free_a }}/{{ cruelty_free_b }}</td>
                    <td class="danger"> {{ cruelty_free_b }}/{{ cruelty_free_b }}</td>
                    <td class="success"> {{ cruelty_free_c }}/{{ cruelty_free_b }}</td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_c}}</th>
                    <td class="warning"> {{ cruelty_free_a }}/{{ cruelty_free_c }}</td>
                    <td class="warning"> {{ cruelty_free_b }}/{{ cruelty_free_c }}</td>
                    <td class="danger"> {{ cruelty_free_c }}/{{ cruelty_free_c }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 table-responsive">
					<table border="1" class="table table-striped table-bordered" style="margin-top: 10px; margin-bottom: 10px;">
					<tbody>
					<tr>
						<th><strong>Bobot Cruelty-Free {{nama_a}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_cruelty_free_a }}</h5></td>
					</tr>
					<tr>
						<th><strong>Bobot Cruelty-Free {{nama_b}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_cruelty_free_b }}</h5></td>               
					</tr>
					<tr>
						<th><strong>Bobot Cruelty-Free {{nama_c}}</strong> :</th>
						<td style="text-align: center;"><h5>{{ bobot_cruelty_free_c }}</h5></td>
					</tr>					
					</tbody>
					</table>
		</div>
             </div>
         </div>
     </div>

	<div class="row">
        <div class="col-lg-12">
			<div class="panel">
                        <div class="panel-heading">
                            <h3 style="margin-top: 0px; margin-bottom: 0px;">Bobot Alternatif</h3>
                        </div>
        <div class="panel-body">
		<div class="col-lg-6 table-responsive">
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: center;">
                    <th></th>
                    <th style="text-align: center;">Harga</th>
                    <th style="text-align: center;">Isi</th>
                    <th style="text-align: center;">PAO</th>
                    <th style="text-align: center;">Daya Tahan Produk</th>
                    <th style="text-align: center;">Cruelty-Free</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center;">
                    <th>{{nama_a}}</th>
                    <td class="danger"> {{ bobot_harga_a }}</td>
                    <td class="warning"> {{ bobot_isi_a }}</td>
                    <td class="success"> {{ bobot_pao_a }}</td>
                    <td class="info"> {{ bobot_time_a }} </td>
                    <td class="default"> {{ bobot_cruelty_free_a }} </td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_b}}</th>
                    <td class="danger"> {{ bobot_harga_b }}</td>
                    <td class="warning"> {{ bobot_isi_b }}</td>
                    <td class="success"> {{ bobot_pao_b }}</td>
                    <td class="info"> {{ bobot_time_b }} </td>
                    <td class="default"> {{ bobot_cruelty_free_b }} </td>
                </tr>
                <tr style="text-align: center;">
                    <th>{{nama_c}}</th>
                    <td class="danger"> {{ bobot_harga_c }}</td>
                    <td class="warning"> {{ bobot_isi_c }}</td>
                    <td class="success"> {{ bobot_pao_c }}</td>
                    <td class="info"> {{ bobot_time_c }} </td>
                    <td class="default"> {{ bobot_cruelty_free_c }} </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- table responsive -->
			`<div class="col-lg-6"> <!--nested row -->
				<p><strong>Keteragan :</strong></p>
				<p>Bobot kriteria <strong>Harga</strong> yang telah dihitung sebelumnya dimasukan menjadi elemen matriks berwarna <strong>Merah</strong></p>
				<p>Bobot kriteria <strong>Berat Bersih</strong> yang telah dihitung sebelumnya dimasukan menjadi elemen matriks berwarna <strong>Kuning</strong></p>
				<p>Bobot kriteria <strong>PAO</strong> yang telah dihitung sebelumnya dimasukan menjadi elemen matriks berwarna <strong>Hijau</strong></p>
				<p>Bobot kriteria <strong>Daya Tahan Produk</strong> yang telah dihitung sebelumnya dimasukan menjadi elemen matriks berwarna <strong>Biru</strong></p>
				<p>Bobot kriteria <strong>Cruelty-Free</strong> yang telah dihitung sebelumnya dimasukan menjadi elemen matriks berwarna <strong>Putih</strong></p>
				<p>Kemudian elemen matriks ini akan dihitung berdasarkan produknya menjadi tabel Bobot Kriteria</p>
			 </div>
        </div> <!-- panel body -->
        </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
	</div>
  
  <div class="col-lg-12">
			<div class="panel" style="margin-bottom: 20px;">
                        <div class="panel-heading">
                            <h3 style="margin-top: 0px; margin-bottom: 0px;">Bobot Kriteria</h3>
                        </div>
        <div class="col-lg-6 table-responsive">
			<table border="1" class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <th>{{nama_a}}</th>
                    <td style="text-align: center;"> {{ produk_a|floatformat:5 }}</td>
                </tr>
                <tr>
                    <th>{{nama_b}}</th>
                    <td style="text-align: center;"> {{ produk_b|floatformat:5 }}</td>
                </tr>
                <tr>
                    <th>{{nama_c}}</th>
                    <td style="text-align: center;"> {{ produk_c|floatformat:5 }}</td>
                </tr>
                </tbody>
            </table>
        </div> <!-- col-lg-6 -->
        <div class="col-lg-6">   
            <p><strong>Keterangan :</strong></p>
            <p>Tabel Bobot Kriteria ini merupakan kumpulan hasil perhitungan dari Tabel Bobot Kriteria di atas. Bobot dengan nilai tertinggi merupakan produk yang paling tepat dipilih.</p>
            <p>Berikut ini merupakan keputusan akhir perhitungan menggunakan metode AHP</p>
            <p>Jadi produk pemulas bibir yang terbaik untuk anda adalah  <strong>{{ produk_max }}</strong></p>
            
        </div> <!-- col-lg-6 -->
		</div> <!-- panel bobot kriteria -->
        </div> <!-- col-lg-12 -->
{% endblock %}

