{% extends "main.html" %}
{% block main %}
{% load staticfiles %}
    <!-- Page Heading -->
	<section class="bg-header" style="padding-top: 10px;padding-bottom: 10px;">
		<div class="container">
			<div class="row">
                <div class="col-xs-8 col-xs-offset-2" style="margin-left: 0px; width: 300px;">
					<h2>Input Detail Produk</h2>
                </div>
            </div>
		</div>
    </section>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'input-kri' %}">Input Kriteria</a>
                            </li>
                            <li>
                                <a href="{% url 'konsistensi-ahp' ahp.id %}">Hasil Konsistensi Input</a>
                            </li>
                            <li>
								<a href="{% url 'input-nama' ahp.id %}">Input Nama Produk</a>
                            </li>
                            <li class="active">
                                Input Detail Agen
                            </li>
                        </ol>
                    </div>
                </div>
			<!-- /.row -->
 <div class="row">
	 <div class="col-lg-3 "></div>
        <div class="col-lg-6">
        <form action="{% url 'input-ahp' ahp.id %}" method="post" class="form" role="form">
            {% csrf_token %}
			<div class="row">
					<div class="col-xs-1"></div>
                    <div class="col-lg-1 col-md-1 col-xs-2" style="right: 70px;">
						<span class="promo">
							<i class="mdi-image-filter-1" style="color: #3BC896;"></i>
						</span>
                    </div>
                    <div class="col-xs-7"><h4>Premi Pertama (PP)</h4></div>
            </div>
            <br>
            <p>Pada kriteria Premi Pertama, anda harus memasukan PP tiap agen tanpa tanda titik atau koma pada nominalnya.</p>
		    <label>{{nama_a}}</label>
                    <div> {{ form.pp_a }}</div>
            <br>
            <label>{{nama_b}}</label>
                    <div> {{ form.pp_b }}</div>
            <br>
		    <label>{{nama_c}}</label>
                    <div> {{ form.pp_c }}</div> 
			<br>
			<br>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-lg-1 col-md-1 col-xs-2" style="right: 70px;">
				<span class="promo">
					<i class="mdi-action-account-balance-wallet" style="color: #3BC896;"></i>
				</span>
				</div>
				<div class="col-xs-7">
					<h4>Uang Pertanggungan (UP)</h4>
				</div>
			</div>
			<br>
			<p>Masukan nominal Uang Pertanggungan tanpa tanda titik dan koma</p>
            <label>{{nama_a}}</label>
                    <div> {{ form.up_a }}</div>
            <br>
		    <label>{{nama_b}}</label>
                    <div> {{ form.up_b }}</div>
            <br>
		    <label>{{nama_c}}</label>
                    <div> {{ form.up_c }}</div>
			<br> 
			<br>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-lg-1 col-md-1 col-xs-2" style="right: 70px;">
				<span class="promo">
					<i class="mdi-action-receipt" style="color: #3BC896;"></i>
				</span>
				</div>
				<div class="col-xs-7">
					<h4>Surat Permintaan (SP)</h4>
				</div>
			</div>
			<br>
			<p>Pada kriteria ini, anda harus memasukan jumlah Surat Permintaan yang dimiliki agen.</p>
		    <label>{{nama_a}}</label>
                    <div> {{ form.sp_a }}</div>  
            <br>
		    <label>{{nama_b}}</label>
                    <div> {{ form.sp_b }}</div> 
            <br> 
		    <label>{{nama_c}}</label>
                    <div> {{ form.sp_c }}</div>
			<br>
			<br>
			<div class="row">
                    <div class="col-lg-1 col-lg-offset-5 col-xs-1 col-xs-offset-3">
						
                        <button type="submit" class="btn btn-primary">Lanjutkan</button>
                    </div>
            </div>
		</form>       
		</div>
</div>
{% endblock %}
