{% extends "main.html" %}
{% block main %}
    {% load staticfiles %}
    <!-- Page Heading -->
    <section class="bg-header" style="padding-top: 120px;padding-bottom: 120px;">
		<div class="container">
			<div class="row">
                <div class="col-xs-8 col-xs-offset-2" style="margin-left: 0px; width: 300px;">
					<h2>Input Perbandingan Kriteria</h2>
                </div>
		</div>
    </section>
    <div class="row">
        <div class="col-lg-12">
			<ol class="breadcrumb">
                <li>
                    <a href="{% url 'input-kri' %}">Input Kriteria</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<p>Buatlah daftar prioritas dari 5 kriteria secara terurut dalam form di bawah ini.</p>
				</div>
				<div class="col-lg-2"></div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Form Level Kriteria</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
								 <div class="col-lg-6">
									<p><strong>Cara Mengisi Form Level Kriteria:</strong></p>
									<ol>
										<li>Jika memungkinkan ada kriteria yang sama penting dengan kriteria lain, anda dapat mengisi lebih dari satu kriteria yang <strong>sama penting</strong> dengan kriteria lain dalam form dengan level yang sama.</li>
										<li>Pastikan tidak ada kriteria yang berulang pada level yang berbeda</li>
										<li>Level 1 merupakan level tertinggi dari prioritas anda</li>
										<li>Level 5 merupakan level terendah prioritas anda</li>
										<li>Semakin tinggi levelnya, maka kriteria yang memiliki level tertinggi <strong>lebih penting</strong> daripada kriteria lain</li>
									</ol>
                                </div>
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
											<p class="help-block">Isi kriteria sesuai prioritas anda di sini</p>
                                            <label>Level 1</label>
                                            <input class="form-control">
                                            <label>Level 2</label>
                                            <input class="form-control">
                                            <label>Level 3</label>
                                            <input class="form-control">
                                            <label>Level 4</label>
                                            <input class="form-control">
                                            <label>Level 5</label>
                                            <input class="form-control">
                                        </div>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
				<div class="col-lg-2"></div>
                <div class="col-lg-8">
					<p>Buatlah perbandingan antara tiap kriteria di bawah ini dengan konsisten berdasarkan <strong>Form Level Kriteria</strong> yang telah ditentukan tadi.
					Angka yang tertulis dalam pilihan merupakan nilai yang akan dimasukan dalam penilaian konsistensi perbandingan kriteria.</p>
					<br>
					<strong>Cara mengisi form perbandingan kriteria:</strong>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level yang sama</strong>...
								</div>
								<div class="panel-body">
									<p><strong>Saling dibandingkan</strong>, maka nilai perbandingan kriterianya adalah <strong>(1) sama penting daripada</strong>.</p>
									
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level 1</strong> dibandingkan dengan kriteria...
								</div>
								<div class="panel-body">
									<p><strong>Level 2</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(2) atau (3)</strong>.</p>
									<p><strong>Level 3</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(4) atau (5)</strong></p>
									<p><strong>Level 4</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(6) atau (7)</strong></p>
									<p><strong>Level 5</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(8) atau (9)</strong></p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level 2</strong> dibandingkan dengan kriteria...
								</div>
								<div class="panel-body">
									<p><strong>Level 1</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/2) atau (1/3)</strong></p>
									<p><strong>Level 3</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(2) atau (3)</strong></p>
									<p><strong>Level 4</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(4) atau (5)</strong></p>
									<p><strong>Level 5</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(4) atau (5)</strong></p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level 3</strong> dibandingkan dengan kriteria...
								</div>
								<div class="panel-body">
									<p><strong>Level 1</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/4) atau (1/5)</strong></p>
									<p><strong>Level 2</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/2) atau (1/3)</strong></p>
									<p><strong>Level 4</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(2) atau (3)</strong></p>
									<p><strong>Level 5</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(4) atau (5)</strong></p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level 4</strong> dibandingkan dengan kriteria...
								</div>
								<div class="panel-body">
									<p><strong>Level 1</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/6) atau (1/7)</strong></p>
									<p><strong>Level 2</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/4) atau (1/5)</strong></p>
									<p><strong>Level 3</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/2) atau (1/3)</strong></p>
									<p><strong>Level 5</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(2) atau (3)</strong></p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Jika kriteria pada <strong>Level 5</strong> dibandingkan dengan kriteria...
								</div>
								<div class="panel-body">
									<p><strong>Level 1</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/8) atau (1/9)</strong></p>
									<p><strong>Level 2</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/6) atau (1/7)</strong></p>
									<p><strong>Level 3</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/3) atau (1/4)</strong></p>
									<p><strong>Level 4</strong>, maka nilai perbandingan kriteria yang mungkin adalah <strong>(1/2) atau (1/3)</strong></p>
								</div>
							</div>
						</div>
					</div>
					<br>
                </div>
            
			
            <form action="{% url 'input-kri' %}" method="post" class="form" role="form">
                {% csrf_token %}
                <div class="row">
					<div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/rupiah.jpg" %} alt="">
                            </div>
						</span>
                    </div>
                    <div class="col-xs-4"> {{ form.kri_harga_isi }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/netto.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
					<div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2">
						<div class="input-kriteria-image">
							<img class="img-circle img-responsive" src={% static "img/rupiah.jpg" %} alt="">
                        </div>
                    </div>
                    <div class="col-xs-4"> {{ form.kri_harga_pao }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/pao.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/rupiah.jpg" %} alt="">
                            </div>
						</span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_harga_time }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/time.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/rupiah.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_harga_cf }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/cf.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/netto.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_isi_pao }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/pao.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/netto.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4"> {{ form.kri_isi_time }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/time.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/netto.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_isi_cf }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/cf.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/pao.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_pao_time }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/time.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/pao.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_pao_cf }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/cf.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-xs-2"></div>
                    <div class="col-lg-1 col-xs-2 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/time.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                    <div class="col-xs-4 "> {{ form.kri_time_cf }}</div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 ">
						<span class="fa-2x">
							<div class="input-kriteria-image">
                                <img class="img-circle img-responsive" src={% static "img/cf.jpg" %} alt="">
							</div>	
                        </span>
                    </div>
                </div>
                <br>
                <br>
                
				
                <div class="row">
                    <div class="col-lg-1 col-lg-offset-5 col-xs-1 col-xs-offset-3 col-sm-1 col-sm-offset-5">
                        <button type="submit" class="btn btn-primary">Lanjutkan</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
{% endblock %}
