<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Codingcamp">

    <title>Codingcamp</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'codingcamp/css/bootstrap.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'codingcamp/css/style.css'%}" type="text/css">
    
    <!-- Custom CSS -->
    <link href="{% static 'codingcamp/css/agency.css'%}" rel="stylesheet">
    <link href="{% static 'codingcamp/css/main.css'%}" rel="stylesheet">
    
    <!-- Timeline CSS -->
    <link href="{% static 'codingcamp/css/timeline.css'%}" rel="stylesheet">
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'codingcamp/css/animate.min.css'%}" type="text/css">
    
    
    
    <link rel="stylesheet" href="{% static 'codingcamp/css/map.css'%}" type="text/css">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'%}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'%}"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CODINGCAMP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" >About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program" >Programs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#adult" >Adult Class</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tutor" >Tutors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#donate" >Donate</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#photo" >Photos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#students-web" >Student's web</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
     
    <!-- Header -->
    <header style="max-height: 930px;">
        <div class="container">
            <div class="intro-text"> 
                <div class="intro-heading">CODINGCAMP</div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                <div class="col-lg-12">
                    <form name="sentEmail" id="emailForm" novalidate>
                        <div class="row">
							<div class="col-md-2"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea  class="form-control form-join" placeholder="Enter email to join mailing list and receive monthly newsletter" id="message" required data-validation-required-message="Please enter a email"></textarea>
                                    <p class="help-block text-danger" style="color: ff0000;"></p>
                                </div>
                            </div>
                            
                            <div class="col-md-2 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" style="height: 47px; padding-top: 10px;">Bergabung</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- end of col-lg-12 --> 
				</div> <!-- end of row --> 
            </div> <!-- end of intro-text -->
        </div> <!-- end of container --> 
    </header>

    <section id="contact" style="height: auto;">
        <div class="container">
            <div class="row" style="color : #fff;">
                
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0813-1662-7137</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">ariantis@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

	<section id="info" style="height: auto; padding-top: 50px; margin-top: 100px; margin-bottom: 100px;">
        <div class="container">
            <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		`			<img style="width: 90%;" src="{% static 'codingcamp/img/kids.png'%}" class="img-circle img-responsive">
				</div>
                <div class="col-lg-6 text-center" style="font-weight: 500;">
					<h2 class="section-heading">Anak Anda gemar bermain games?</h2>
					<hr class="light">
                    <h3 class="section-subheading text-muted"><em>Coding</em> adalah kegiatan menulis dan membaca kode untuk dipahami komputer. <em>Coding</em> mengasah daya pikir komputasi secara logis dan matematis yang berguna bagi kemampuan bernalar. </h3>
                    <h3 class="section-subheading text-muted"><span style="color: #E45009;">PT. Coding Indonesia</span> percaya kemahiran anak bermain <em>computer games</em> adalah awal adaptasi anak dengan dunia digital. Manfaatkan kemahiran bermain games anak untuk berlatih coding. 
                    <h3 class="section-subheading text-muted">Melalui praktik membuat <em>games</em>, aplikasi dan <em>website</em>, <span style="color: #E45009;">PT. Coding Indonesia</span> mengajak putra-putri Anda mengarungi masa depan menjadi kreator.</h3>
                    <h3 class="section-subheading text-muted"><a href="#students-web">Lihat kreasi anak-anak</a></h3>
                </div>
            </div>
            <div class="row text-center">
				    
                    <!-- 16:9 aspect ratio -->
                    <div class="row">
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">Don't just play with your phone, program it</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 20px;">Barrack Obama</h3>
							<div class="embed-responsive embed-responsive-16by9">						
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yE6IfCrqg3s" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">What Most Schools Don't Teach</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 50px;">Code.org</h3>
							<div class="embed-responsive embed-responsive-16by9">						
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						
					</div>
					
					<div class="row" style="margin-top:20px;">
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">Kini Anak-Anak Bisa Mempelajari Bahasa Pemrograman Komputer</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 20px;">Berita Satu</h3>
							<div class="embed-responsive embed-responsive-16by9">														
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hDKhHD1JCcY" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">Coding Indonesia</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 50px;">Metro TV</h3>
							<div class="embed-responsive embed-responsive-16by9">														
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PpQ2rNx_Chc" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					
					<div class="row" style="margin-top:20px;">
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">People and Inspiration: Atasi Candu Gadget pada Anak #1</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 20px;">Berita Satu</h3>
							<div class="embed-responsive embed-responsive-16by9">																						
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h_IiMIXchtk" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						
						<div class="col-lg-6">
							<h2 class="section-heading" style="margin-top: 60px; color: #E45009;">People and Inspiration: Atasi Candu Gadget pada Anak #2</h2>
							<h3 class="section-subheading text-muted" style="margin-bottom: 20px;">Berita Satu</h3>
							<div class="embed-responsive embed-responsive-16by9">														
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-uNOjt0tJg" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					
            </div>
        </div>
    </section>
    
    <!-- About Us Section -->
    <section id="about" >
        <div class="container">
            <div class="row" style="margin-left: 10px; width: auto; margin-top:50px;">
                <div class="col-lg-6 text-left" style="margin-top: 0px; padding-left: 15px; padding-right: 5px; width: 70%; height: auto; background-color: rgba(255, 255, 255, 0.75); padding-top: 10px;">
					<h2 class="section-heading">About Us</h2>
					<h3 class="section-subheading"><span style="color: #E45009;">PT. Coding Indonesia</span> berdiri tahun <span style="color: #008AFF;">2013</span> menyusul kegembiraan anak-anak belajar <em>coding</em> pada program liburan. </h3>
                    <h3 class="section-subheading" style="padding-bottom:15px">Pada <span style="color: #008AFF;">2015</span>, <span style="color: #E45009;">PT. Coding Indonesia</span> mengelola tiga lokasi: <span style="color: #008AFF;">Cipete</span>, <span style="color: #008AFF;">Kemang</span> dan <span style="color: #008AFF;">Bintaro</span>, serta ekstrakurikuler di sekolah-sekolah swasta di DKI Jakarta. Lokasi berikutnya adalah Kelapa Gading dan Depok. </h3> 
                </div>
            </div>
        </div>
    </section>

	<section id="location" class="map">
       
        <div class="container">
			<div class="row" style="margin-top:100px;">
				<div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                </div>
            </div>        
			<div id="map_wrapper">
				<div id="map_canvas" class="mapping"></div>
			</div>
        </div>		
	</section>

   
    <!-- Program Section -->
    <section id="program" style="height: auto;">
        <div class="container">
            <div class="row" style="margin-top:50px; margin-bottom:10px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 40px;">Program kami berbasis projek individual dengan tingkat kesulitan yang disesuaikan untuk kebutuhan anak dalam berbagai <em>platform</em>:</h3>
                </div>
            </div>
			<div class="row">
                <div class="col-md-4">
                    <a href="http://ai2.appinventor.mit.edu/">
                        <img src="{% static 'codingcamp/img/app inventor logo.png'%}" class="img-responsive img-centered" title="App Inventor">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.arduino.cc/">
                        <img src="{% static 'codingcamp/img/arduino.png'%}" class="img-responsive img-centered" title="Arduino">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://codekingdoms.com/">
                        <img src="{% static 'codingcamp/img/codekingdom.png'%}" class="img-responsive img-centered" title="Codekingdoms">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="{% static 'codingcamp/img/HTML5.png'%}" class="img-responsive img-centered" title="HTML5">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="{% static 'codingcamp/img/javascript.png'%}" class="img-responsive img-centered" title="Javascript">
                    </a>
                </div>
                <div class="col-md-4 ">
                    <a href="https://www.tynker.com/">
                        <img src="{% static 'codingcamp/img/tynker.jpg'%}" class="img-responsive img-centered" title="Tynker">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://makeymakey.com/">
                        <img src="{% static 'codingcamp/img/makey.png'%}" class="img-responsive img-centered" title="Makey Makey" style="width: 50%;">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.python.org/">
                        <img src="{% static 'codingcamp/img/python.png'%}" class="img-responsive img-centered" title="Python">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://scratch.mit.edu/">
                        <img src="{% static 'codingcamp/img/scratch.png'%}" class="img-responsive img-centered" title="Scratch">
                    </a>
                </div>
            </div>
        </div> <!-- End of Container -->
    </section>

    <!-- Adult Class Section -->
	<section id="adult" style="height: auto;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-weight: 500;">
					<h2 class="section-heading" style="color : #fff;">Adult Class</h2>
					<hr class="light">
					    <img src="{% static 'codingcamp/img/poster Coding Adults.jpg'%}" class="img-responsive img-centered" title="Adult Class">
                </div>
            </div>
        </div>
    </section>

    <!-- Tutor Section -->
    <section id="tutor" class="bg-light-gray">
        <div class="container">
            <div class="row" style="margin-top:40px;">
                <div class="col-lg-6">
                    <h1 class="section-heading text-center">Tutors</h1>
                </div>
                <div class="col-lg-6">
					<h3 class="section-subheading text-muted"><span style="color: #E45009;">PT. Coding Indonesia</span> mengadakan training sepanjang tahun. Tutor kami terdiri dari mahasiswa Teknik Informasi hingga programmer profesional. <br>
					<br>Kirim CV anda ke Office Manager Ria untuk menjadi tutor ke alamat <a href="#contact">ini</a></h3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Donation Section -->
    <section id="donate" style="height: auto;">
        <div class="container">
            <div class="row" style="margin-top:50px;">
				<div class="col-lg-6" style="background-color: rgba(255, 255, 255, 0.75);">

			`			<img style="width: 70%;" src="{% static 'codingcamp/img/de-liza.jpg'%}">

				</div>
                <div class="col-lg-6 text-left" style="">
					<h2 class="section-heading" style="margin-top: 15px;">Individual / Corporate Donation</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 30px; margin-top: 30px;">Ajak tutor-tutor muda <span style="color: #E45009;">PT. Coding Indonesia</span> mengajar di komunitas kurang mampu pilihan Anda dan jadikan mereka kreator digital masa depan Indonesia.</h3> 
                    <h3 class="section-subheading text-muted">Kontak Office Manager Ria untuk program kerjasama ke alamat <a href="#contact">ini</a></h3>
                    <h3>
						<span class="label label-primary">Starts from IDR 200K</span>
                    </h3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Photos Grid Section -->
    <section id="photo" class="no-padding">
		<!--
		<div class="col-lg-12 text-center">
            <h2 class="section-heading">Photos</h2>
        </div>
        -->
        <div class="container-fluid">
            <div class="row no-gutter" style=" margin-top:50px;">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/scratch.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/game.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/web.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/code.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/appinv.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/python.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/tv.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/girl.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/girls.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/hackathon2.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal11" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/hackathon3.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal12" class="portfolio-box" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-expand fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'codingcamp/img/photo/kids2.png'%}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Studeent's Web -->
    <section id="students-web" class="bg-light-gray">
        <div class="container">
            <div class="row" style="padding-bottom:10px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Student's Web</h2>
                    <!--<h3 class="section-subheading text-muted">Beberapa website karya .</h3>-->
                </div>
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://irfanramadhiya.pythonanywhere.com/" target="_blank">                        
                        <img src="{% static 'codingcamp/img/student/irfan.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Irfan</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://guplecookies.com/intro.html" target="_blank">
                        
                        <img src="{% static 'codingcamp/img/student/alfie.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Alfie</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://anonthecarandcodeguy.pythonanywhere.com/" target="_blank">
                        
                        <img src="{% static 'codingcamp/img/student/fadhilan.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Fadhilan</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" target="_blank">                        
                        <img src="{% static 'codingcamp/img/student/acid.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Acid</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        
                        <img src="{% static 'codingcamp/img/student/kafka.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Kafka</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        
                        <img src="{% static 'codingcamp/img/student/kenzie.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Kenzie</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>        
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">                        
                        <img src="{% static 'codingcamp/img/student/lintang.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Lintang</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        
                        <img src="{% static 'codingcamp/img/student/rakan.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rakan</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#">
                        
                        <img src="{% static 'codingcamp/img/student/ranu.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Ranu</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <section id="who-are-we">
        <div class="container">
            <div class="row" style="padding-bottom:10px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                    <!--<h3 class="section-subheading text-muted">Beberapa website karya .</h3>-->
                </div>
            </div>
            <div class="row">                             
				<img src="{% static 'codingcamp/img/founders.jpg'%}" class="img-responsive" alt="">
				<p><em>Wahyudi dan Kurie Suditomo, co-founders PT. Coding Indonesia, foto artikel www.poster.co.id</em></p>
            </div>
            
            <div class="row">                             
                <div class="col-lg-6">
					<h2>WAHYUDI</h2>
                    <p>Wahyudi is a veteran in software development industry. He still codes his own applications on daily basis. 
                    Wahyudi learned to code in Berlin, where he lived for 10 years. Working for corporate and startups in Berlin 
                    and Munich gave him some valuable experiences from both side of the culture. Moved to east coast USA to pursue 
                    his career as software developer, he worked in New York & New Jersey for 6 years, before returning home in Jakarta 
                    to build his own companies.
                    </p>
                    <p>
                        <a href="http://www.twitter.com/wahyudi" target="_blank">Follow @Wahyudi</a>
                    </p>
                </div>
                <div class="col-lg-6">
					<h2>KURIE SUDITOMO</h2>
                    <p>Kurie Suditomo spent 10 years in journalism, writing and editing for national politics and international news, 
                    as well as giving an ample contribution to the in-depth and feature stories in the arts and cultural section of Tempo Magazine. 
                    In 2005, she graduated from Ohio University, Athens with a master's degree in Southeast Asian Studies supported by Fulbright Program. 
                    Previously working as a representative for United States-Indonesia communities, Kurie's interests span as vast as national and 
                    international politics, international youth exchanges, museum and cultural heritage in the archipelago and digital media.</p>
                    <p>
                        <a href="http://www.twitter.com/nengkurie" target="_blank">Follow @NengKurie</a>
                    </p>
                </div>
            </div>
        </div>        
    </section>
    <!-- Studeent's Web -->
    <section id="media-coverage" class="bg-light-gray">
        <div class="container">
            <div class="row" style="padding-bottom:10px;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media Coverage</h2>
                    <!--<h3 class="section-subheading text-muted">Beberapa website karya .</h3>-->
                </div>
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6">
                    <a href="https://id.techinasia.com/sekolah-di-jakarta-yang-mengajarkan-coding/" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_1.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="https://id.techinasia.com/sekolah-di-jakarta-yang-mengajarkan-coding/" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://marketeers.com/article/ubah-bocah-maniak-games-jadi-kreator-games-andal.html" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_2.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://marketeers.com/article/ubah-bocah-maniak-games-jadi-kreator-games-andal.html" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://dailysocial.net/post/belajar-coding-sejak-usia-dini-bersama-codingindonesia" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_3.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="https://dailysocial.net/post/belajar-coding-sejak-usia-dini-bersama-codingindonesia" target="_blank">Read More...</a></p>
                    </div>
                </div>
                
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6">
                    <a href="https://id.techinasia.com/coding-indonesia-kelas-programming-anak/" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_4.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="https://id.techinasia.com/coding-indonesia-kelas-programming-anak/" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://tekno.liputan6.com/read/2133530/samsung-rangkul-anak-indonesia-untuk-jadi-developer-aplikasi" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_5.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://tekno.liputan6.com/read/2133530/samsung-rangkul-anak-indonesia-untuk-jadi-developer-aplikasi" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://devblog.blackberry.com/2014/07/rewards-closure/" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_6.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://devblog.blackberry.com/2014/07/rewards-closure/" target="_blank">Read More...</a></p>
                    </div>
                </div>
                
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6">
                    <a href="http://inet.detik.com/read/2015/03/19/110826/2863302/398/coding-ah-gampang-kok" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_7.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://inet.detik.com/read/2015/03/19/110826/2863302/398/coding-ah-gampang-kok" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://tekno.tempo.co/read/news/2015/03/18/072651110/kampanyekan-coding-microsoft-gandeng-2-pelaku-industri" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_8.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://tekno.tempo.co/read/news/2015/03/18/072651110/kampanyekan-coding-microsoft-gandeng-2-pelaku-industri" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://teknologi.metrotvnews.com/read/2015/03/18/373328/microsoft-indonesia-ajak-masyarakat-untuk-mengenal-coding" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_9.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://teknologi.metrotvnews.com/read/2015/03/18/373328/microsoft-indonesia-ajak-masyarakat-untuk-mengenal-coding" target="_blank">Read More...</a></p>
                    </div>
                </div>
                
            </div>
            <div class="row">                             
                
                <div class="col-md-4 col-sm-6">
                    <a href="http://jakartakita.com/2015/03/18/ternyata-coding-bukan-hanya-mainan-orang-it/" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_10.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://jakartakita.com/2015/03/18/ternyata-coding-bukan-hanya-mainan-orang-it/" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.cosmogirl.co.id/artikel/read/6086/WeSpeakCode-Gabungan-Seni-dan-Coding-Hanya-dalam-15-Jam" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_11.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://www.cosmogirl.co.id/artikel/read/6086/WeSpeakCode-Gabungan-Seni-dan-Coding-Hanya-dalam-15-Jam" target="_blank">Read More...</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://wartaekonomi.co.id/read/2015/03/19/49872/fashion-designermusisi-gabungkan-seni-dan-coding-d" target="_blank">                        
                        <img src="{% static 'codingcamp/img/news/news_12.png'%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">                        
                        <p><a href="http://wartaekonomi.co.id/read/2015/03/19/49872/fashion-designermusisi-gabungkan-seni-dan-coding-d" target="_blank">Read More...</a></p>
                    </div>
                </div>
                
            </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright" style="color: #fff;">Copyright &copy; Codingcamp 2015</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Photo Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/scratch.jpg'%}" alt="">                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/game.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Photo Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/web.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/code.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/appinv.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/python.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/tv.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/girl.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 9 -->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/girls.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 10 -->
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/hackathon2.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 11 -->
    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/hackathon3.jpg'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 12 -->
    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <img class="img-responsive img-centered" src="{% static 'codingcamp/img/photo/kids2.png'%}" alt="">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- jQuery -->
    <script src="{% static 'codingcamp/js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'codingcamp/js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'codingcamp/js/classie.js'%}"></script>
    
    <script src="{% static 'codingcamp/js/wow.min.js'%}"></script>
	
    <!-- Contact Form JavaScript -->
    <script src="{% static 'codingcamp/js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'codingcamp/js/contact_me.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'codingcamp/js/agency.js'%}"></script>
    
    <script src="{% static 'codingcamp/js/map.js'%}"></script>

</body>

</html>

