<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ējento</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'min/plugin-min.css'%}" type="text/css" rel="stylesheet">
    <link href="{% static 'min/custom-min.css'%}" type="text/css" rel="stylesheet" >

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href=""{% url 'index' %}"" id="logo-container" class="brand-logo"> Ējento</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#tentang"><b>Tentang</b></a></li>
                    <li><a href="#kriteria"><b>Kriteria</b></a></li>
					<li><a href="#panduan"><b>Panduan</b></a></li>
					<li><a href="#team"><b>Team</b></a></li>
                    <li><a href="#kontak"><b>Kontak</b></a></li>
                    <li><a href="{% url 'input-kri' %}" target="_blank"><b>Mulai</b></a></li>
                </ul>
                {%block navbar%}{%endblock%}
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#tentang">Tentang</a></li>
                    <li><a href="#kriteria">Kriteria</a></li>
					<li><a href="#panduan">Panduan</a></li>
					<li><a href="#team"><b>Team</b></a></li>
                    <li><a href="#kontak">Kontak</a></li>
                    <li><a href="{% url 'input-kri' %}">Mulai</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu" style="margin-left: 10px;"></i></a>  
			</div>
        </div>
    </nav>
</div>

    <!-- Header -->
    <header>
        <div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<h1 class="text_h center header cd-headline letters type">
					<span>Ējento</span> 
					<span class="cd-words-wrapper waiting">
						<b class="is-visible">SPK Penentu Agen Asuransi Terbaik</b>
					</span>
				</h1>
			</div>
		</div>
    </header>

	<!-- Tentang Section -->

			<div  class="section scrollspy" id="tentang">
				<div class="container">
					<div class="row">
						<div  class="col s12">
							<h2 class="center header text_h2"> Selamat Datang! di website <span class="span_h2"> SPK  </span> kami. </h2>
							<hr> </hr>
							<span style="color:#3BC896"> Ējento </span> adalah sebuah aplikasi penunjang keputusan penentu agen (karyawan) terbaik. Aplikasi ini menggunakan metode <i> Analytical Hierarchy Process </i>(AHP) yang dapat memecahkan masalah yang kompleks, rumit, dan tak terstruktur guna membantu manajer dalam mengambil keputusan.
						</div> 
					</div>
				</div>
			</div>


    <!-- Kriteria Section -->
    <div id="kriteria" class="bg-primary section scrollspy">
    <div class="container">
		<div class="row">
        	<h2 class="header text_b">KRITERIA </h2>
			<p> Untuk mendapatkan hasil dengan alternatif terbaik, maka aplikasi penunjang keputusan ini membutuhkan tiga kriteria </p>
		
        
			<div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-filter-1"></i>
					<h5 class="promo-caption">Premi Pertama (PP)</h5>
                    <p class="light center">Premi pertama adalah premi yang pertama kali dibayarkan, angkanya sesuai dengan perjanjian
yang tertera dalam polis. Kriteria ini mutlak lebih penting daripada kriteria lain.</p>
                </div>
            </div>
			
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-account-balance-wallet"></i>
                    <h5 class="promo-caption">Uang Pertanggungaan (UP)</h5>
                    <p class="light center">Uang Pertanggungan (Face Amount) - Uang Pertangggungan yang tercantum pada halaman polis yang akan dibayar apabila terjadi kematian atau kondisi polis lain yaitu dibayarkan pada saat masa pertanggungan berakhir sesuai dengan macam asuransi yang diambil. Kriteria ini sedikit lebih penting daripada elemen lain.</p>
                </div>
            </div>
			
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-receipt"></i>
                    <h5 class="promo-caption">Surat Permintaan (SP)</h5>
                    <p class="light center">Surat yang digunakan untuk komunikasi antara calon nasabah dan pemegang polis untuk mendapatkan informasi tentang macam/jenis dan spesifikasinya, jasa, serta kebijaksanaan perusahaan tentang pelayananseperti cara pembayaran, pemberian layanan penjualan, layanan purna jual, cara pengiriman, dan cara penyerahan. Kriteria ini sama pentingnya dengan kriteria lain. Pada aplikasi ini, masukan jumlah surat permintaan yang diminta agen.</p>
                </div>
            </div>
		</div>
	</div>
</div>

    <!-- Panduan Section -->
    <section id="panduan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Panduan</h2>
                    <h3 class="section-subheading text-muted">Berikut ini langkah-langkah pembuatan keputusan menggunakan aplikasi ini.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src={% static "img/step-one.png" %} alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pertama</h4>
                                    <h4 class="subheading">Perbandingan Level Kriteria</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Anda diwajibkan memasukan nilai perbandingan level kriteria. Nilai perbandingan level kriteria ini akan membandingkan prioritas antar kriteria yang ditentukan oleh Anda sendiri. Aplikasi ini telah menyediakan program khusus agar Anda tetap konsisten dalam menentukan perbandingan level kriteria.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src={% static "img/step-two.png" %} alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kedua</h4>
                                    <h4 class="subheading">Konsistensi Level Kriteria</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pada tahap ini akan ditunjukan hasil penilaian konsistensi Anda pada tahap pertama. Jika nilai hasil perhitungan konsistensi kurang dari 10%, maka anda dapat melanjutkan ke tahap berikutnya. Namun, jika hasil penilaian konsistensi yang diberikan lebih dari 10%, Anda diwajibkan mengulangi tahap sebelumnya.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src={% static "img/step-three.png" %} alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ketiga</h4>
                                    <h4 class="subheading">Input Nama Produk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pada tahap ini, Anda hanya dapat memasukan 3 nama agen yang akan dipilih.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src={% static "img/step-four.png" %} alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Keempat</h4>
                                    <h4 class="subheading">Input Bobot Produk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pastikan bobot yang dimasukan masih dalam satu kriteria yang sama</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src={% static "img/number-5.png" %} alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kelima</h4>
                                    <h4 class="subheading">Hasil Akhir</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tahap terakhir yang menunjukan informasi hasil keputusan dan hasil penilaian berupa grafik, dan penjelasan singkat</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>Selesai!
                                    <br>      </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
<!--Team-->
<div class="bg-primary section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Our Team </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src={% static "img/avatar2.png"%}>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Dyah Ayu S.<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Programmer</a></em></small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src={% static "img/avatar2.png"%}>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Nova Karlasemi <br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src={% static "img/avatar2.png"%}>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Siti Nurmala<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Contact Section -->
    <section id="kontak">
        <div class="container">
            <div class="row">
                <div class="col l12 text-center">
                    <h2 class="section-heading">Hubungi Kami!</h2>
                    <h3 class="section-subheading text-active">Berikan komentar, pertanyaan, dan saran bagi perkembangan aplikasi ini.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l12">

					<form method="POST" class="col s12 post-form" action="{% url 'index'%}">
								{% csrf_token %}
						<div class="row">
							<div class="col l6 m6 s12">
                                <div class="input-field">
									<i class="mdi-action-account-circle prefix white-text"></i>
									{{ form.nama }}

                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="input-field">
									<i class="mdi-communication-email prefix white-text"></i>
									{{ form.email}}

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col l6 m6 s12">
                                <div class="input-field col s12">
									<i class="mdi-editor-mode-edit prefix white-text"></i>
									{{form.pesan}}

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
							</form>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <span class="copyright white-text"><b>Copyright &copy; Ējento 2016</b></span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js'%}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js'%}"></script>
    <script src="{% static 'min/plugin-min.js'%}"></script>
    <script src="{% static 'min/custom-min.js'%}"></script>
    

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/agency.js'%}"></script>



</body>

</html>
